@model Gears.Models.VideoContent
@{
    Layout = "_AdminLayout";
}
<div>
    <h2>Edit</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditVideoContent">
                @Html.HiddenFor(m => m.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Header" class="control-label"></label>
                    <input asp-for="@Model.Header" class="form-control" />
                    <span asp-validation-for="@Model.Header" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Paragraph" class="control-label"></label>
                    <input asp-for="@Model.Paragraph" class="form-control" />
                    <span asp-validation-for="@Model.Paragraph" class="text-danger"></span>
                </div>


                <div class="form-group">

                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="VideoContentIndex" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>
